.vagrant
venv
.env
__pycache__
__pycache__/*
secrets.yaml
celerybeat*
.python-version
*.pyc
uploads
*.retry
.env.prod
/deploy/nginx/*.conf
static
.DS_Store
.vscode
app/app/credentials/*.json
app/app/logs/*.log