[Unit]
Description=gunicorn daemon
After=network.target

[Service]
User=root
Group=nginx
WorkingDirectory=/root/interview360/app
ExecStart=/root/.virtualenvs/interview360/bin/gunicorn --workers 3 --bind unix:/root/interview360/interview360.sock app.wsgi:application

[Install]
WantedBy=multi-user.target
